body {
    background-color: rgb(229, 250, 232);
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    align-items: center;
}

.header {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 137, 90);
    width: 100%;
}

.header-title {
    color: rgb(229, 250, 232);
    text-align: center;
    font-size: 80px;
    margin: 0 auto;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

#image-figure {
    text-align: center;
}

footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-text {
    font-size: 2.5em;
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav {
    width: 30%;
}

.nav-link:visited {
    color: rgb(229, 250, 232);
}

.nav-link {
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(229, 250, 232);
}

.fa:hover {
    opacity: 0.7;
}

.fa-brands {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 5px;
}

.fa-facebook {
    background-color: #3B5998;
    color: white;
}

.fa-twitter {
    background-color: #55ACEE;
    color: white;
}

.fa-instagram {
    background-color: #125688;
    color: white;
}

.contact-us-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subheading {
    color: rgb(90, 137, 90);
}

.the-science-content {
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

.btn {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
