body{
    background-color: rgb(229, 250, 232);
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    margin-left: 100px;
    margin-right: 100px;
}

header{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

div {text-align: center;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }


h1 {
    color: rgb(90, 137, 90);
  }
  h1 {text-align: center;}
  
  h2 {
    color: rgb(90, 137, 90);
  }


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}



nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  font-size: 1.5em;
}

nav {
  margin-bottom: 2em;
  width: 30%;
  margin: 0 auto;
}
